{% load static %}
{% include 'header.html' %}
<link href="{% static 'css/book_detail.css' %}" rel="stylesheet" type="text/css">
<img src="{{book_id.image.url}}" alt="">
<h1>{{ book_id.title }}</h1>
<p>{{ book_id.author }}</p>
<p>{{ book_id.genre }}</p>
<p>{{ book_id.description }}</p>
<p>{{ book_id.pages }}</p>
<p>{{ book_id.price }}</p>
<p>{{ book_id.created_at }}</p>
<a href="{{book_id.url_book}}" >Перейти на сайт</a>


<div class="center">
    {% for j in book_id.review_book.all %}
    <p>
        <h3>{{ j.text_book }}</h3>
    </p>
    <p>{{ j.created_at }}</p>
    {% endfor %}
</div>

{% include 'footer.html' %}
