
<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Book-store</h5>

        <p>
          © «Торговая фирма «Book-store» - cамое крупное книготорговое предприятие Бишкека. 2020-2024
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Главная</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">О нас</a>
          </li>
          <li>
            <a href="#!" class="text-white">Доставка и оплата</a>
          </li>
          <li>
            <a href="#!" class="text-white">Помощь</a>
          </li>
          <li>
            <a href="#!" class="text-white">Вакансии</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Контакты</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">пр. Чуй, 271</a>
          </li>
          <li>
            <a href="#!" class="text-white">0(312)34-19-78</a>
          </li>
          <li>
            <a href="#!" class="text-white">0(312)34-16-49</a>
          </li>
          <li>
            <a href="#!" class="text-white">book-firm@mail.ru</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(67, 145, 217, 1);">
    © 2024 SAB-design:
    <a class="text-white" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>